@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");

@import url("../../styles/colors.scss");
@import url("../../styles/commonStyles.scss");


.blue {
    background-color: #0086ff;
}

.purple {
    background-color: #9f7aea;
}

.green {
    background-color: #38b2ac;
}

.orange {
    background-color: #ed8936;
}


img {
    max-width: 100%;
}


.app {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-bg-color);
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.button_no_style {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
}
.send_button {
    font-size: 18px;
    // border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    span {
        color: var(--body-color);
        font-size: 35px;
        &:hover {
            filter: invert(0.5);
        }
    }
}

.header {
    height: 80px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    border: 1px solid var(--border-color);
}
.sessions-area {
    position: absolute;
    transform: translate(-100%);
    transition-property: transform;
    transition-duration: 0.3s;
    
    z-index: 100;
    height: calc(100vh - 80px);
    .new_session_button {
        background: transparent;
        border: 1px var(--border-color) solid;
        color: var(--body-color);
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sessions_scroll_area {
        overflow-y: scroll;
        border-right: 1px solid var(--border-color);
        background: var(--theme-bg-color);
        height: 100%;
        padding: 10px 10px;
    }
    &.active {
        transition-property: transform;
        transition-duration: 0.3s;
        right: auto;
        left: 0;
        transform: translate(0%);
        .open_sessions {
            display: none;
            transition-property: display;
            transition-delay: 0.3s;
        }
    }
    .open_sessions {
        transition-property: display;
        transition-delay: 0.3s;
        position: absolute;
        left: 100%;
        top: 10px;
        display: flex;
        justify-content: center;
        background: transparent;
        border: 1px solid var(--border-color);
        padding: 5px;
        border-radius: 0 5px 5px 0;
        color: var(--body-color);
    }
    .close_sessions {
        display: flex;
        justify-content: center;
        background: transparent;
        border: 1px solid var(--border-color);
        padding: 5px;
        border-radius: 5px;
        color: var(--body-color);
    }
    .sessions_header {
        margin-top: 10px;
        display: block;
    }
    .sessions-list {
        list-style: none;
        padding: 0;
        margin: 0;
        // transition-property: display;
        // transition-delay: 0.3s;
        display: flex;
        flex-direction: column;
        gap: 10px;
        // width: 200px;
        // width: 200px;
        
        li {
            background: var(--input-bg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.active_session {
                border: 1px solid var(--body-color);
                
            }
            button {
                // border: 1px solid var(--);
                background: transparent;
                cursor: pointer;
                border: 0;
                padding: 5px 8px;
                text-align: left;
                color: var(--body-color);
                &.btn_remove {
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
.conversation-area,
.detail-area {
    min-width: 340px;
    flex-shrink: 0;
}

.detail-area {
    border-left: 1px solid var(--border-color);
    margin-left: auto;
    padding: 20px 30px 0 30px;
    display: flex;
    width: 450px;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    .html_preview_control {
        display: flex;
        justify-content: center;
        gap: 15px;
        z-index: 101;
        margin-top: 10px;
        margin-bottom: 10px;
        .preview_control_button {
            z-index: 101;
            padding: 8px 15px;
            background: var(--theme-color);
            color: #fff;
            border-radius: 5px;
            &:disabled {
                background: var(--settings-icon-hover);
            }
        }
    }
    .iframe_wrap {
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 500px;
        height: 100%;
        margin-top: 40px;
        #html_preview {
            background-color: #fff;
        }
    }
    #preview_wrap {
        overflow: auto;
        max-height: 100vh;
        text-align: center;
        &.html_preview_full_screen_active {
            background: rgba(#fff, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            .iframe_wrap {
                #html_preview {
                    box-shadow: 0px 0px 100px rgba(#000000, 0.5);
                }
            }
        }
    }
    
}

.chat-area {
    flex-grow: 1;
}

.logo {
    h1 {
        color: var(--body-color);
        font-size: 35px;
        margin: 0;
        img {
            width: 50px;
            margin-left: 8px;
        }
    }
}
.user-settings {
    display: flex;
    align-items: center;
    cursor: pointer;
        margin-left: auto;
        flex-shrink: 0;
    & > * + * {
        margin-left: 14px;
    }
    .clear_chat  {
        img {
            width: 25px;
            height: 25px;
        }
    }
    .open_html_preview {
        display: none;
        align-items: center;
        color: var(--body-color);
        font-size: 18px;
        font-weight: bold;
        border: 1px solid var(--border-color);
        padding: 5px 8px;
        border-radius: 5px;
        svg {
            height: 20px;
            color: var(--body-color);
        }
        &.hidden {
            display: none!important;
        }
    }
    .user_profile {
        .profile_link {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }
    }
    .dark-light {
        width: 30px;
        height: 30px;
        color: var(--settings-icon-color);
        flex-shrink: 0;
       
        svg {
         width: 100%;
         fill: transparent;
         transition: 0.5s;
        }
    }
}


.dark-mode {
    .settings {
        
    }
    .clear_chat {
        img {
            filter: invert(1);
        }
    }
}

.msg {
 display: flex;
 align-items: center;
 padding: 20px;
 cursor: pointer;
 transition: 0.2s;
 position: relative;
 &:hover {
  background-color: var(--msg-hover-bg);
 }
 &.active {
  background: var(--active-conversation-bg);
  border-left: 4px solid var(--theme-color);
 }
 &.online:before {
  content: "";
  position: absolute;
  background-color: #23be7e;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid var(--theme-bg-color);
  left: 50px;
  bottom: 19px;
 }
}
.user_msg_wrap {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    width: 100%;
    .files_list {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        justify-content: end;
        white-space: nowrap;
        // position: absolute;
        // top: 66px;
        span {
            display: inline;
            max-width: 90px;
            white-space: nowrap;
	        overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 10px;
        }
    }
}
.msg-username {
 margin-bottom: 4px;
 font-weight: 600;
 font-size: 15px;
}

.msg-detail {
 overflow: hidden;
}

.msg-content {
 font-weight: 500;
 font-size: 13px;
 display: flex;
}

.msg-date {
 font-size: 14px;
 color: var(--msg-date);
 margin-left: 3px;
 &:before {
  content: "•";
  margin-right: 2px;
 }
}

.chat-area {
    display: flex;
    flex-direction: column;
    &-header {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background: var(--chat-header-bg);
    }
    &-profile {
        width: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
    &-title {
        font-size: 18px;
        font-weight: 600;
    }
    &-main {
        flex-grow: 1;
        overflow-y: auto;
    }
}

.chat-msg-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--chat-text-bg);
    svg {
        height: 35px;
        width: 35px;
        color: var(--body-color);
    }
}

.chat-msg-profile {
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: -5px;
    position: relative;
}

.chat-msg-date {
 position: absolute;
 left: calc(100% + 12px);
 bottom: 0;
 font-size: 12px;
 font-weight: 600;
 color: var(--msg-date);
 white-space: nowrap;
}

.chat-msg {
 display: flex;
 padding: 0 20px 10px;
 &-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }
 &-text {
  background-color: var(--chat-text-bg);
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  & + & {
   margin-top: 10px;
  }
 }
}

.chat-msg-text {
    color: var(--chat-text-color);
    word-break: break-word;
    a {
        color: var(--chat-text-color);
    }
}

.chat-msg.user {
    flex-direction: row-reverse;
    .chat-msg-content {
    margin-left: 0;
    margin-right: 12px;
    align-items: flex-end;
    }
    .chat-msg-text {
        background-color: var(--theme-color);
        color: #fff;
        border-radius: 20px 20px 0 20px;
        text-align: left;
        margin-bottom: 5px;
    }
    .chat-msg-date {
        left: auto;
        right: calc(100% + 12px);
    }
}

.chat-msg.model {
    .chat-msg-text {
        text-align: left;
    }
    .html_chat_button {
        display: flex;
        align-items: center;
        background: transparent;
        color: var(--body-color);
        padding: 3px 6px;
        font-weight: bold;
        border: 1px solid var(--body-color);
        border-radius: 3px;
        svg {
            color: var(--body-color);
            width: 20px;
            height: 20px;
        }
    }
}

.chat-msg-text img {
    max-width: 300px;
    width: 100%;
}

.chat-area-footer {
 display: flex;
 border-top: 1px solid var(--border-color);
 width: 100%;
 padding: 10px 50px 30px;
 align-items: center;
 background-color: var(--theme-bg-color);
 position: sticky;
 bottom: 0;
 left: 0;
 .attached_files_list {
    font-size: 12px;
    display: flex;
    position: absolute;
    top: -22px;
    gap: 10px;
    span {
        background: var(--theme-bg-color);
        border: 1px var(--border-color) solid;
        display: block;
        border-radius: 10px;
        padding: 0px 10px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
 }
 .button_send_files {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    svg {
        width: 30px;
        height: 30px;
    }
 }
 span.developed_by {
    color: var(--border-color);
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    a {
        color: var(--border-color); 
    }
 }
}

.chat-area-footer svg {
 color: var(--settings-icon-color);
 width: 20px;
 flex-shrink: 0;
 cursor: pointer;
 &:hover {
  color: var(--settings-icon-hover);
 }

 & + svg {
  margin-left: 12px;
 }
}

.chat-area-footer textarea {
    width: 100%;
    height: 59px;
    resize: none;
    border: 1px solid var(--body-color);
    background-color: var(--input-bg);
    padding: 12px;
    margin: 0 20px;
    border-radius: 6px;
    color: var(--body-color);
    font-size: 15px;
    font-family: var(--body-font);
    max-height: 200px;
    min-height: 45px;
    min-width: 150px!important;
    max-width: 1000px;
    &::placeholder {
        color: var(--input-chat-color);
        font-family: var(--body-font);
    }
}
.dark-mode {
 .search-bar input,
 .detail-area input {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%236f7073'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
 }
 .dark-light svg {
  fill: #ffce45;
  stroke: #ffce45;
 }
 .chat-area-group span {
  color: #d1d1d2;
 }
}
.chat-area-group {
 flex-shrink: 0;
 display: flex;
 * {
  border: 2px solid var(--theme-bg-color);
 }
 * + * {
  margin-left: -5px;
 }

 span {
  width: 32px;
  height: 32px;
  background-color: var(--button-bg-color);
  color: var(--theme-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
 }
}
.user_profile {
    .profile_link {
        .profile_photo_header {
            display: flex;
            align-items: center;
        }
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: var(--body-color);
        }
        
    }
}
@media (max-width: 1120px) {
    .settings {
        .open_html_preview {
            display: flex;
        }
    }
    .detail-area {
        display: none;
        &.active {
            display: flex;
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            border: 0;
            background: var(--theme-bg-color);
        }
    }
}

@media (max-width: 780px) {
    .header {
        height: auto;
        padding: 10px 10px;

        .logo {
            h1 {
                font-size: 25px;
                img {
                    width: 30px;
                    margin-left: 0;
                }
            }
        }
        .user-settings .user_profile .profile_link {
            width: 30px;
            height: 30px;
        }
    }
   
    .chat-area-footer {
        padding: 10px 10px 25px;
        textarea {
            margin: 0 5px;
        }
    }
}

@media (max-width: 390px) {
    .header {
        .logo {
            h1 {
                font-size: 20px;
                img {
                    width: 20px;
                }
            }
        }
    }
    
}
